In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/twitter_data.csv', encoding= 'ISO-8859-1')

In [4]:
df.shape

(1599999, 6)

In [5]:
#naming the columns
columns_names = ['target', 'id', 'date', 'flag', 'user', 'text']
df = pd.read_csv('data/twitter_data.csv', names = columns_names, encoding= 'ISO-8859-1')

In [6]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [7]:
df.shape

(1600000, 6)

In [8]:
df.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [9]:
df['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [10]:
#convert 4 to 1
df.replace({'target':{4:1}}, inplace=True)
df['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

In [11]:
df.sample(10)

,target,id,date,flag,user,text
27651,0,1559316971,Sun Apr 19 10:49:26 PDT 2009,NO_QUERY,iamadarkstar,I couldn't fall asleep last night. Now I'm gon...
1076995,1,1967585691,Fri May 29 19:51:04 PDT 2009,NO_QUERY,caah_imamura,@bemerlin good night sweet c u 2morrow. bye bye
1001030,1,1880059120,Thu May 21 23:58:29 PDT 2009,NO_QUERY,problogger,@camthecameraman the thought of using another ...
133671,0,1836062107,Mon May 18 07:17:49 PDT 2009,NO_QUERY,kitten16,I need to get up and work out but my bed is am...
640392,0,2234974321,Fri Jun 19 00:08:53 PDT 2009,NO_QUERY,Psychomax,My brother's iTouch has wifi! Of course I can ...
532205,0,2196659083,Tue Jun 16 12:45:50 PDT 2009,NO_QUERY,sarahjmp,"Waiting for my bro to get home, heading out to..."
607792,0,2223088630,Thu Jun 18 07:50:09 PDT 2009,NO_QUERY,reginawsp,Just finishing up a training in ca-realizing I...
57933,0,1685783295,Sun May 03 02:03:26 PDT 2009,NO_QUERY,kateblogs,Good morning I've got terrible hay fever
266686,0,1989039021,Mon Jun 01 00:08:51 PDT 2009,NO_QUERY,willswanson1980,"Ãber happy now that Pauls home, was only one ..."
72924,0,1694374663,Mon May 04 02:20:10 PDT 2009,NO_QUERY,ravinboy,Big Toe hurt so bad I can't use complete sente...

In [13]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [16]:
print(stopwords.words('english'))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

In [17]:
port_stem = PorterStemmer()

In [18]:
def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]', ' ', content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)

    return stemmed_content

In [ ]:
df['stemmed_content'] = df['text'].apply(stemming)

In [ ]:
df.to_csv('data/filter_twitter_data.csv', index=False)